.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url('http://www.portaldapropaganda.com.br/noticias/wp-content/uploads/2017/02/adidas_Sport17_Womens_PR_Still_00086669_JAN3.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 70px;
  margin-left: 10%;
}

.detailContainer2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 236, 236);
  color: #111;
  width: 60%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
  border-radius: 8px;
}

.detailS {
  size: 20px;
}

.detailContainer.btnUl {
  display: flex;
  justify-content: space-between;
}

.detailUl {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailSummary {
  text-align: justify;
  color: #111;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

.img {
  width: 350px;
  height: 310px;
  border-radius: 8px;
}

.btn1 {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  display: flex;
  float: left;
}

.btn1:hover {
  background-color: white;
  color: rgba(74, 59, 207, 0.644);
  border: 1px solid rgba(74, 59, 207, 0.644);
}

.btn2:hover {
  background-color: white;
  color: rgba(74, 59, 207, 0.644);
  border: 1px solid rgba(74, 59, 207, 0.644);
}

.btn2 {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  display: flex;
  float: right;
}

.btn {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.btn:hover {
  background-color: white;
  color: rgba(74, 59, 207, 0.644);
  border: 1px solid rgba(74, 59, 207, 0.644);
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding: 20px;
}

.styleTd {
  color: black;
}

.detailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn3 {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.btn3:hover {
  background-color: white;
  color: rgba(74, 59, 207, 0.644);
}

.btn4 {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  display: flex;
  float: center;
}

.btn4:hover {
  background-color: white;
  color: rgba(74, 59, 207, 0.644);
}

.btnSucces {
  color: green;
}

.btnClose {
  color: red;
  float: right;
}

.reviewContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carritoTitle {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.detail-products {
  margin-top: 80px;
  font-size: 1.3em;
}
.container-detail {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.carritoDiv {
  background-color: rgba(236, 236, 236);
  color: #111;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  height: 62vh;
}

.carritoTotal {
  border-radius: 5px;
  /* border: 3px solid rgba(0, 0, 0, 0.507); */
  width: 60%;
  margin: 0 auto;
}

.detailContainer {
  display: flex;
  flex-direction: column;
}

.detailContainerCard2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-top: 220px;
  margin-left: 20px;
  list-style: none;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn6 {
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 140, 255);
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgb(0, 140, 255);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn6:hover {
  border: 1px solid rgb(0, 140, 255);
  color: white;
  background-color: rgb(0, 140, 255);
}

.cardTitle {
  display: flex;
  align-items: center;
}

.title-reneged {
  text-align: center;
}
.misComprasCard1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}