.editProductContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 10px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 44px;
  background: #e0e0e0;
  box-shadow: -10px 10px 16px #c3c3c3, 10px -10px 16px #fdfdfd;
  border: 2px solid rgb(53, 134, 226);
}
.titulo-revelde {
  text-align: center;
}
.select-renegado {
  margin-left: 20%;
}
.productContainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
}
.descriptionEditProduct {
  text-align: justify;
  margin-right: 15px;
}

.descriptionEditProduct > textarea {
  background: rgb(236, 236, 236);
  color: rgb(0, 0, 0);
}
