.verOrdenesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 18%;
}

.misOrdenesCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25%;
}

.misOrdenes {
  display: flex;
  flex-direction: column;
}
