.contenedorHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.boxCategories {
  margin-top: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}
.btnFiltros {
  background-color: rgba(8, 38, 46, 0.644);
  color: rgb(236, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  float: right;
}

.btnFiltros:hover {
  background-color: white;
  color: rgba(74, 59, 207, 0.644);
}

.svg_icons {
  transform: scale(1.5);
}

.svg_icons:hover {
  transform: scale(1.7);
}
