.shoppingGeneral {
  width: 90%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: minmax(1fr);
  grid-gap: 5px;
  width: 90%;
  margin-top: 20px;
}
.footerGoShopping{
  margin-top: 20%;
}