@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
.containerLanding{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}


.containerTitle{
    font-family: 'Roboto' thin  italic;
}

.tituloLanding{
    font-family: 'Fira Sans', sans-serif;
}
