.landingContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.btn{
    background-color: rgba(4, 5, 5, 0.644);
    color: rgb(236, 230, 230);
    border-radius: 5px;
    cursor: pointer;
    /* padding:10px; */
    font-size: 25px;
    font-family: 'Roboto' thin  italic;
    /* margin-left: 210px; */
    border: none;
    
}


.btn:hover {
    background-color: white; 
    color: rgba(74, 59, 207, 0.644);
} 
/* 
.containerTitle{
    font-family: 'Roboto' thin  italic;
    text-align: center;
} */