.contenedorPerfil{
    background-color: white;
    /* margin-left: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    /* width: 850px; */
}
.detallecontenedor{
    text-align: left;
    /* margin-left: 50px; */
    
}
.contenedorName{
    background-color: white;
    height: 200px;
}

.nombrePerfil{
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
}
.contenedorBotones{
    margin-top: 120px;
}

.contenido1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-columns: minmax(1fr);
    grid-gap: 5px;
    width: 90%;
    margin-top: 20px;
}

.signOut{
    float: right;
}

.modalPerfil{
    float: right;
}

