.inputs-form {
  width: 80%;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: -10px 10px 16px #c3c3c3, 10px -10px 16px #fdfdfd;
}
label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  z-index: 3;
}

.fondo {
  width: 100%;
  height: 60vh;
  background-color: rgb(236, 236, 236);
  position: relative;
}
.titulo-form {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 75px;
  left: 45%;
  z-index: 1;
  margin-bottom: 10%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -420px;
  position: absolute;
  width: 100%;
}

.formulario1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.contenedorPerfil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 10%;
  display: grid;
  width: 75%;
  height: 80%;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1%;
  background-color: rgb(236, 236, 236);
  border-radius: 44px;
  background: #e0e0e0;
  box-shadow: -10px 10px 16px #c3c3c3, 10px -10px 16px #fdfdfd;
}

.contenedorPerfil1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 10%;
  display: grid;
  background-color: rgb(236, 236, 236);
  border-radius: 44px;
  width: 75%;
  height: 80%;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 1 / 5 / 2;
}
.div11 {
  grid-area: 4 / 2 / 5 / 3;
}
.div12 {
  grid-area: 4 / 3 / 5 / 4;
}
.footerPerfil{
  margin-top: 15%;
}
