.contenedorTotal{
    background-color: rgb(255, 255, 255);
    float: right;
    width: 600px;
    height: 300px;
    margin-right: 10px;
}
.contenedorCart{
    margin-bottom: 20px;
    margin-left: 40px;

}
.botonCart1{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: solid;
    border-radius:50px;
    background-color:#bf97ff;
}
.tucarrito{
    font-size: 40px;
    text-align: left;
    margin-left: 40px;
    
    
}
.total{
    text-align: left;
    margin-left: 40px;
    color: rgb(82, 82, 82);
}
.comprarAhora{
    text-align: left;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 100px;
    margin-bottom: 30px;
}
.ahora{
    font-size: 30px;
    text-align: center;
}
.tene{
    text-align: center;
}
.imagenTarjeta{
    width: 500px;
    height: 100px;
}
.metodoTarjeta{
    margin-top: 100px;
    
}