.misComprasContainer{
    margin-top: 75px;
    margin-left: 10%;
}

.misComprasCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.misCompras{
    display: flex;
    flex-direction: column;
    margin-top: 15px
}

.imagen{
    width: 10px
}

.footerCompras{
    margin-top: 2%;
}