.imagen {
  width: 12%;
}

.misComprasCardDetail {
  margin-top: 10px;
}

.btn-volver {
  text-decoration: none;
}

.textareaReseña {
  width: 100%;
  height: 80px;
  border: 1px solid rgb(248, 237, 237);
  border-radius: 5px;
  margin-bottom: 10px; 
  resize: none;
}

.btn7 {
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 140, 255);
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgb(0, 140, 255);
}

.btn7:hover {
  border: 1px solid rgb(0, 140, 255);
  color: white;
  background-color: rgb(0, 140, 255);
}

.btn8 {
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 140, 255);
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid rgb(0, 140, 255);
}

.btn8:hover {
  border: 1px solid rgb(0, 140, 255);
  color: white;
  background-color: rgb(0, 140, 255);
}

.botonesCompras{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.formulario2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.contenedorPerfil2 {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 10%;
  display: grid;
  background-color: rgb(236, 236, 236);
  border-radius: 44px;
  width: 50%;
  height: 80%;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1%;
}