.contLogin {

    width: 50%;
    margin: 3% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

}

.inputLogin {

    width: 500px;
    margin: auto;

}

.h5Login {

    margin: auto;

}

.buttomLogin {

    width: 80%;
    height: 50px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

.botonRegister{
        background-color: rgba(8, 38, 46, 0.644);
        color: rgb(236, 230, 230);
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        border: none;
        width: 100px;
        display: flex;    
        justify-content: center;
        align-items: center;
    }
.botonRegister:hover {
        background-color: white; 
        color: rgba(74, 59, 207, 0.644);
    } 