.termo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.favoriteContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}



